
#slider {
  position: relative;
  .slider-item {
      min-height: 450px !important;
      position: relative;
      background-size: cover;
      &:before {
          content: "";
          position: absolute;
          height: 100%;
          width: 100%;
          background: #222;
          opacity: .7;
          border-bottom-right-radius: 0px;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
      }
      h1 {
          font-size: 2rem;
          font-weight: 900;
          color: #fff; 
      }
      p {
          color: rgba(255, 255, 255, 0.5);
          font-size: 1.1rem;
      }
      .btn {
          background-color: var(--white);
          padding: 10px;
          color: var(--primary);
          border-radius: 20%;
      }
  }
  .owl-nav {
      .owl-prev, .owl-next {
          position: absolute;
          top: 50%;
          text-align: center;
          width: 40px;
          height: 40px;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
          background: #fff;
          border-radius: 50%;
          color: var(--primary);
      }
      .owl-prev > span, .owl-next > span {
          font-size: 1rem;
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
      }
      .owl-prev {
          left: 0;
      }
      .owl-next {
          right: 0;
      }
  }
  .owl-dots {
      position: absolute;
      bottom: 30px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      text-align: center;
      .owl-dot {
          display: inline-block;
      }
      .owl-dot > span {
          border-radius: 50%;
          display: inline-block;
          width: 15px;
          height: 15px;
          margin: 2px 5px;
          background: var(--white); 
      }
      .owl-dot.active > span {
          background: var(--light);
          border: 0.3rem solid var(--primary);
      }
  }
}

/*--------------------------------------------------------------
    # FOOTER
    --------------------------------------------------------------*/
    .footer-frame {
        width: 100%;
      }
      
      .footer-frame .cls-2 {
        fill: var(--dark) !important;
      }
      
      #footer {
        padding: 0 0 30px 0;
        font-size: 14px;
        background-color: var(--dark) !important;
      }
      
      #footer .footer-top {
        padding: 60px 0 30px 0;
      }
      
      #footer .footer-top .social-links a {
        font-size: 18px;
        display: inline-block;
        background: var(--light);
        color: var(--primary);
        line-height: 1;
        padding: 8px 0;
        margin-right: 4px;
        border-radius: 50%;
        text-align: center;
        width: 36px;
        height: 36px;
        -webkit-transition: 0.3s;
        transition: 0.3s;
      }
      
      #footer .footer-top .social-links a:hover {
        background: var(--primary) !important;
        color: var(--light) !important;
        border: .5px solid var(--light);
      }
      
      #footer .footer-top h4 {
        font-size: 16px;
        font-weight: bold;
        color: #F9FBFB;
        text-transform: uppercase;
        position: relative;
        padding-bottom: 12px;
      }
      
      #footer .footer-top h4::before,
      #footer .footer-top h4::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        height: 2px;
      }
      
      #footer .footer-top h4::after {
        background: var(--primary);
        width: 30px;
      }
      
      #footer .footer-top .footer-links {
        margin-bottom: 30px;
      }
      
      #footer .footer-top .footer-column {
        margin-bottom: 40px;
      }
      
      #footer .footer-top ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }
      
      #footer .footer-top ul i {
        padding-right: 8px;
        color: #ddd;
      }
      
      #footer .footer-top ul li {
        padding: 4px 0px;
      }
      
      #footer .footer-top ul li a {
        color: var(--white);
        text-transform: capitalize;
      }
      
      #footer .footer-top ul li a:hover {
        padding: 5px 10px 5px 10px;
        font-weight: 400;
      }
      
      
      #footer .footer-top .footer-links ul li:first-child {
        padding-top: 0;
      }
      
      #footer .footer-top .footer-contact {
        margin-bottom: 30px;
      }
      
      #footer .footer-top .footer-contact p {
        line-height: 26px;
        color: #fff;
      }
      
      #footer .footer-top .footer-newsletter {
        margin-bottom: 30px;
        color: #fff;
      }
      
      #footer .footer-top .footer-newsletter input[type="email"] {
        border: 0;
        padding: 6px 8px;
        width: 65%;
      }
      
      #footer .footer-top .footer-newsletter input[type="submit"] {
        background: #55F892;
        border: 0;
        width: 30%;
        padding: 6px 0;
        text-align: center;
        color: #3A4A4D;
        -webkit-transition: 0.3s;
        transition: 0.3s;
        cursor: pointer;
        font-weight: 600;
      }
      
      #footer .footer-top .footer-newsletter input[type="submit"]:hover {
        background: #13a456;
      }
      
      #footer .footer-top .footer-newsletter small.error {
        background-color: #fff;
        padding: 5px 5px 5px 5px;
      }
      
      #footer .footer-top .footer-newsletter p:hover {
        font-size: 15px;
        -webkit-transition: all 400ms ease;
        transition: all 400ms ease;
      }
      
      .footer-bottom {
        padding-top: 30px;
        border-top: 1px solid rgba(255, 255, 255, 0.1);
      }
      
      #footer .developer {
        text-align: right;
      }
      
      #footer .developer .social-links a {
        font-size: 20px;
        padding: 2px;
        color: var(--light);
      }
      
      /* Back to top button */
      
      